<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>帝一流</title>
    <link th:href="@{/static/plugin/bootstrap-table/bootstrap-table.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div  layout:fragment="cm-flex" class="cm-flex">
    <div class="cm-breadcrumb-container">
        <ol class="breadcrumb">
            <li><a href="#">系统管理</a></li>
            <li class="active">用户管理</li>
        </ol>
    </div>
    <form id="cm-search" action="index.html" method="get">
        <input type="search" name="q" autocomplete="off" placeholder="Search...">
    </form>
</div>
<div layout:fragment="content" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body auto-height">
            <div class="search-block" id="search-block">
                <form action="#" class="form-group form-horizontal">
                    <div class="row">
                        <div class="col-sm-3 col-md-6">
                            <input type="text" class="form-control" placeholder="名称" data-toggle="completer" data-suggest="true" data-source="['PG3711981', 'PG3711982', 'PG3711983', 'PG3711984', 'PG3711985']">
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-md-offset-4">
                            <button type="submit" class="btn btn-primary btn-block">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="btn-group" role="group" id="toolbar">
                <button type="button" class="btn btn-default"><i class="fa fa-fw fa-plus"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-fw fa-trash-o"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-fw fa-pencil"></i></button>
            </div>
            <table id="user-table"></table>
        </div>
    </div>
</div>
<div layout:fragment="myJs">
    <script th:src="@{/static/plugin/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/static/plugin/bootstrap-table/bootstrap-table-locale-all.js}"></script>
    <script th:inline="javascript">
        $(function () {
            var autoHeight = $("div.auto-height").height();
            var rowHeight = $('#search-block').height();
            var tableHeight = autoHeight - rowHeight;
            $('#user-table').bootstrapTable({
                height: tableHeight,
                sidePagination: 'server',
                url: /*[[@{/sys/userList}]]*/,
                method: 'post',
                toolbar: '#toolbar',
                toolbarAlign: 'right',
                // 条纹
                striped: true,
                idField: 'id',
                columns: [
                    {
                        field: 'ck',
                        checkbox: true
                    },
                    {
                        field: 'username',
                        title: '登录名'
                    },
                    {
                        field: 'name',
                        title: '姓名'
                    },
                    {
                        field: '',
                        title: '角色'
                    },
                    {
                        field: '',
                        title: '机构'
                    },
                    {
                        field: 'tel',
                        title: '手机'
                    },
                    {
                        field: 'email',
                        title: '邮箱'
                    },
                    {
                        field: 'loginCount',
                        title: '登录次数'
                    },
                    {
                        field: 'lastLoginTime',
                        title: '登录时间'
                    },
                    {
                        field: '',
                        title: '创建人'
                    },
                    {
                        field: 'createTime',
                        title: '创建时间'
                    },
                    {
                        field: 'status',
                        title: '状态',
                        align: 'center',
                        formatter: 'statusFormat'
                    }
                ]
            });
        });

        // 格式化状态
        function statusFormat(value, row, index) {
            if (1 == value){
                return '<span class="sf-switch-on" style="display: inline-block;width: 16px;height: 16px;background-size: 16px 16px;"></span>';
            }

            return '<span class="sf-switch-off" style="display: inline-block;width: 16px;height: 16px;background-size: 16px 16px;"></span>';
        }
    </script>
</div>
</body>
</html>