<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>帝一流</title>
        <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/webjars/toastr/2.1.4/build/toastr.min.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/static/plugin/completer/completer.min.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/plugin/sweetalert/sweetalert.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/plugin/chosen/chosen.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/css/bootstrap-clearmin.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/css/roboto.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/css/material-design.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/css/small-n-flat.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/static/css/dyl-admin.css}" type="text/css" rel="stylesheet">
    </head>
    <body class="cm-no-transition cm-1-navbar">
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex">
                    <a th:href="@{/console}" class="cm-logo"></a>
                </div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li th:each="menu:${session.menus}"
                                th:class="${menu.getType().equals('node')
                            ? (menu.getId() == session.active.pid ? 'cm-submenu pre-open': 'cm-submenu')
                            : (menu.getId() == session.active.id ? 'active': '')}">
                                <a th:class="${menu.getIconCss()}" th:if="${menu.getType().equals('menu')}"
                                   th:href="@{/{url}(url = ${menu.getController()})}">
                                    <span th:text="${menu.getName()}"></span>
                                </a>
                                <a th:class="${menu.getIconCss()}" th:if="${menu.getType().equals('node')}">
                                    <span th:text="${menu.getName()}"></span>
                                    <span class="caret"></span>
                                </a>
                                <ul th:if="${menu.getType().equals('node')}">
                                    <li th:each="child:${menu.children}"
                                        th:class="${child.getId() == session.active.id ? 'active' : ''}">
                                        <a th:href="@{/{url}(url = ${child.getController()})}"
                                           th:text="${child.getName()}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header id="cm-header">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                <div layout:fragment="cm-flex"></div>
                <div class="pull-right">
                    <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li class="disabled text-center">
                            <a style="cursor:default;">
                                <strong th:text="${session.user.username}">DIYILIU</strong>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-user"></i>
                                用户信息
                            </a>
                        </li>
                        <li>
                            <a href="#pwdModal" data-toggle="modal">
                                <i class="fa fa-fw fa-lock"></i>
                                修改密码
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/logout}">
                                <i class="fa fa-fw fa-sign-out"></i>
                                安全退出
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav layout:fragment="header-nav"></nav>
        </header>
        <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h5 class="modal-title" id="userModalTitle">
                            修改密码
                        </h5>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="oldPwd" class="col-sm-2 control-label">原密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="oldPwd" placeholder="原密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newPwd" class="col-sm-2 control-label">新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="newPwd" placeholder="新密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newPwd2" class="col-sm-2 control-label">确认密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="newPwd2" placeholder="确认密码">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="savePwd">保存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div id="global">
            <!-- 内容区域 -->
            <div layout:fragment="content"></div>
            <footer class="cm-footer">
                <span class="pull-left">帝一流</span>
                <span class="pull-right">&copy; diyiliu.cc</span>
            </footer>
        </div>
        <script th:src="@{/webjars/jquery/2.1.4/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/toastr/2.1.4/build/toastr.min.js}"></script>
        <script th:src="@{/webjars/jquery-mousewheel/3.1.13/jquery.mousewheel.js}"></script>
        <script th:src="@{/webjars/jquery.cookie/1.4.1/jquery.cookie.js}"></script>
        <script th:src="@{/webjars/fastclick/1.0.6/lib/fastclick.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.4/dist/js/bootstrap.js}"></script>
        <script th:src="@{/static/plugin/completer/completer.js}"></script>
        <script th:src="@{/static/plugin/laydate/laydate.js}"></script>
        <script th:src="@{/static/plugin/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{/static/plugin/chosen/chosen.jquery.js}"></script>
        <script th:src="@{/static/js/clearmin.js}"></script>
        <script th:src="@{/static/js/dyl.plugin.js}"></script>
        <script th:inline="javascript">
            $('#savePwd').on('click', function () {
                var newPwd = $('#newPwd').val();
                var newPwd2 = $('#newPwd2').val();
                if (newPwd != newPwd2){
                    swal("确认密码不一致!");
                    return;
                }

                var oldPwd = $('#oldPwd').val();
                var param = {
                    "oldPwd": oldPwd,
                    "newPwd": newPwd
                };
                $.ajax({
                    type: 'put',
                    url: /*[[@{/sys/userPwd}]]*/,
                    data: param,
                    dataType: "json",
                    success: function (data) {
                        var rs = data['result'];
                        var msg = data['msg'];
                        if (rs == 1) {
                            $('#pwdModal').modal('hide');

                            alertTip('success', msg);
                        } else {
                            alertTip('error', msg);
                        }
                    }
                });
            });
        </script>
        <div layout:fragment="myJs"></div>
    </body>
</html>