<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>帝一流</title>
    <link th:href="@{/static/plugin/bootstrap-table/bootstrap-table.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div layout:fragment="cm-flex" class="cm-flex">
    <div class="cm-breadcrumb-container">
        <ol class="breadcrumb">
            <li><a href="#">宠物管理</a></li>
            <li class="active">宠物轨迹</li>
        </ol>
    </div>
    <form id="cm-search" action="index.html" method="get">
        <input type="search" name="q" autocomplete="off" placeholder="Search...">
    </form>
</div>
<div layout:fragment="content" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body auto-height">
            <div class="search-block" id="search-block">
                <form action="#" class="form-group form-horizontal">
                    <div class="row">
                        <div class="col-sm-3 col-md-4">
                            <input type="text" class="form-control" placeholder="宠物/设备" id="search"
                                   data-toggle="completer" data-suggest="true">
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="gpsTime" placeholder="时间">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="btnTime">
                                             <img th:src="@{/static/img/sf/calendar-clock.svg}" height="18" width="18">
                                        </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4">
                            <button type="button" class="btn btn-primary btn-block" id="doSearch">查询</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="map-panel" style="padding-top: 20px">
                <div id="amap" class="map"></div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="myJs">
    <script src="http://webapi.amap.com/maps?v=1.4.6&key=e6f07e683b599f2d9e4c7f79073d1c7b"></script>
    <script th:inline="javascript">
        $(function () {
            laydate.render({
                elem: '#gpsTime'
                , type: 'date'
                , range: true
                , eventElem: '#btnTime'
                , trigger: 'click'
            });

            var autoHeight = $("div.auto-height").height();
            var rowHeight = $('#search-block').height();
            var height = autoHeight - rowHeight;
            $('#map-panel').height(height - 30);

            // 地图
            var map = new AMap.Map('amap', {
                resizeEnable: true,
                zoom: 15
            });

            // 工具栏
            AMap.plugin(["AMap.ToolBar", "AMap.Scale"], function () {
                map.addControl(new AMap.ToolBar());
                map.addControl(new AMap.Scale());
            });
            // 城市中心
            map.setCity('徐州市');

            //实例化信息窗体
            var content = [];
            var infoWindow = new AMap.InfoWindow({
                content: content.join("<br/>"),
                offset: new AMap.Pixel(0, -20)
            });

            var pet = [[${pet}]];
            if (pet) {
                var name = pet.petInfo.name;
                $('#search').val(name);


                var location = pet.location;
                if (location > 0) {
                    var lnglat = [pet.gcj02Lng, pet.gcj02Lat];
                    var marker = new AMap.Marker({
                        position: lnglat,
                        title: name
                    });
                    map.add(marker);
                    map.panTo(lnglat);

                    var lt = "";
                    if (location == 1) {
                        lt = "GPS";
                    } else if (location == 2) {
                        lt = "基站";
                    } else if (location == 3) {
                        lt = "WIFI";
                    }

                    var title = "";
                    if (pet["status"] == 1) {
                        title = name + " <i class='fa fa-circle' style='color: #2ecc71'></i> ";
                    }else {
                        title = name + " <i class='fa fa-circle' style='color: #95a5a6'></i> ";
                    }

                    var content = [];
                    content.push(title);
                    content.push("<i class='fa fa-crosshairs'></i>  " + lt + " 定位");
                    content.push(pet["systemTime"]);

                    var infoWindow = new AMap.InfoWindow({
                        content: content.join("<br/>"),
                        offset: new AMap.Pixel(0, -20)
                    });
                    infoWindow.open(map, marker.getPosition());

                    //鼠标点击marker弹出自定义的信息窗体
                    AMap.event.addListener(marker, 'click', function () {
                        infoWindow.open(map, marker.getPosition());
                    });
                }
            }

            $('#doSearch').on('click', function () {
                var param = {};
                param.search = $('#search').val();
                param.time = $('#gpsTime').val();

                $.ajax({
                    type: 'post',
                    url: /*[[@{/pet/track}]]*/,
                    data: param,
                    dataType: "json",
                    success: function (result) {

                    }
                });
            });
        })
    </script>
</div>
</body>
</html>